.fond {
  width: 100%;
  align-items: center;
}

.nov {
  width: 100%;
  height: 518px;
  background-image: linear-gradient(225deg, #0000ff, #0000a3);
  clip-path: polygon(0% 33%, 100% 3%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}

.nov a:hover {
  cursor: pointer;
  border: 2px solid #00f0b8;
  background: transparent;
}
