.TituloPodcast {
  font-family: "IBM Plex San", sans-serif;
  font-size: 48px;
  letter-spacing: 0;
  font-weight: normal;
}

.TitlePodcast__black {
  color: #000000;
}

.TitlePodcast__white {
  color: #ffffff;
}
