

/*----------- parte descktop----------- */


header{
    width: 90%;
    padding: 30px;
    margin-left:2.5%;
    margin-right:2.5%;

}

header>.header_menu>img{
    max-width: 36px;
    width: 100%;
    height: auto;

}


header>.header_menu{   
    display:flex;  
    justify-content: space-between;    
}

 header>.header_menu>nav>label, #menu-btn{
   display: none;
 }

.menu>ul {

    list-style:none;
}

.menu > ul > li{
    display: inline;
    margin-right:48px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: justify;
    font-size:16px;
    letter-spacing: 0;
    line-height: 28px;
}

.menu>ul>li>a{

    text-decoration: none;
    color:#060A24;  
     
}

.menu>ul>li>a:hover{
    text-decoration: line-through;
    color: #00F3BB;
}

.menu>ul>li>a:active{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: rgba(6,10,36,0.56);
    letter-spacing: 0;
    line-height: 28px;    
}

header > .header-h1{
    position: relative;
    top:60px;
    left:70px;   
    
  }

.world{
    text-decoration: line-through;
}

h1>.punto{
    color:#0000EC;
}

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: 300;
    margin-bottom: 0;
    /* border:solid red 1px; */
      
}

header>.header-h1>p.p1{
  justify-content: start;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 24px;
  width: 620px;  
  margin:0;
  /* border:  solid red 1px; */

}
header>.header-h1>p.p2{
  justify-content: start;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  width: 288px;
  margin:0;
  text-align: justify;
  display: none;
  
}

.header-h1 > button {
  width: 226px;
  height: 56px;
  margin-top: 56px;
  padding: 0;
  background-color: #00F3BB;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  border-style: none;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-h1 > button > a {
  text-decoration: none;
  color: #060A24;
  width: 100%;  
  height: 56px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  font-weight: 700;
}
.header-h1 > button:hover > a {
  color: #fff;
}
.header-h1 > button:hover {
  color: #fff;
  background: linear-gradient(225deg, #0000FE, #00F0B8);
  cursor: pointer;
}

/*---------------------------------seccion episodio----------------- */

section.playlist {
    width: 100%;
    position: relative;
    top: 30px;
  } 
  section.playlist > div.play-fond {
    width: 100%;
    height: 1040.6px;
    position: absolute;
    top: 8px;
    z-index: -1;
    background-image: linear-gradient(225deg, #0000FF, #0000A3);
    clip-path: polygon(0% 18%, 100% 3%, 100% 87%, 0% 100%);
  }
  section.playlist > h2 {
    position: relative;
    top: 235px;
    left: 10.5%;
    font-family: 'IBM Plex San', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: lighter;
    margin: 0;
    display: inline;
    margin: 0;
    /* border: red solid 1px; */
   
  }

  section.playlist > div.item > div.it >iframe{
  border: 0px;
  background-color: transparent; 
 
  }


  section.playlist > div.item{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 19%; 
    /* posicion de los iframe */
   
  } 
  
  section.playlist> div.item > div.it>iframe {
    width: 100%;
    height: 232px;
    max-width: 584px;
    border: 0px;
    background-color: transparent;
  }

  div.position-iframe:nth-child(odd) {
    display: grid;
    justify-items: self-end;
    margin-right: 36px;
    margin-bottom: 72px;
    
  }
  div.position-iframe:nth-child(even) {
    display: grid;
    justify-items: self-start;
    margin-left: 36px;
    margin-bottom: 72px;
  }
  div.position-iframe:nth-last-child(-n + 2) {
    margin-bottom: 64px;
  }
  /*Fin estilos sección episodios*/
  section.donde-vi {
    width: 100%;
    position: relative;
  }
  section.donde-vi > div.donde-vi-cont {
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  div.donde-vi-cont > img {
    max-width: 457px;
    width: 100%;    
    height: 660px;
    margin-left: 0;
  }
  div.donde-vid-i {
    width: 464px;
    margin: auto 0;
  }
  div.donde-vid-i > h2 {
    font-family: 'IBMPlexSans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: lighter;
    margin: 0;
    bottom: 24px;
    display: inline;
  }
  div.donde-vid-i > p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: lighter;
    margin: 0 0 15px 0;
    margin-top: 24px;
  }
  /*Fin estilos sección nosotros*/
  section.entrevista {
    width: 100%;
    margin-top: 64px;
  }
  section.entrevista > div.galeria-ent {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
  section.entrevista> h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: lighter;
    position: relative;
    left: 12%;
    margin: 0;
    bottom: 36px;
    display: inline;
    
  }
  section.entrevista> div.galeria-ent> img {
    max-width: 480px;
    width: 100%;
    height: 364px;
    margin: 0;
  }
  /*Fin estilos sección galeria inv*/
  section.temas {
    width: 100%;
    margin-top: 64px;
  }
  section.temas > h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: lighter;
    position: relative;
    left: 12%;
    margin: 0;
    display: inline;
   
  }
  section.temas > div.temas-n {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 56px;
    
  }
  div.temas-n > div.temas-in{
    width: 260px;
    height: 178px;
    margin: 0 auto;
  }
  div.temas-n > div.temas-in > img {
    width: 104px;
    margin: 0 auto;
    display: block;
  }
  div.temas-n > div.temas-in > p {   
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    margin-top: 29px;
    font-weight: 600;
  }
  /*Fin estilos sección temas*/

  section.fond{
      width: 100%;
      margin-top:64px;
  }

  div.fond-i{
    width: 100%;
    height: 518px;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(225deg, #0000FF, #0000A3);
    clip-path: polygon(0% 18%, 100% 3%, 100% 100%, 0% 100%);
  }

section.fond>div.nov{
position:relative;
top:213px;
text-align: center;
color: #FFFFFF;


}

section.fond>div.nov>h2{    
font-family: 'IBM Plex Sans', sans-serif;
font-size: 48px;
letter-spacing: 0;
font-weight: lighter;

}


section.fond > div.nov > button {
  width: 345px;
  height: 56px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  background-color: #00F3BB;
  font-family: 'IBM Plex Mono-Medium', monospace;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  border-style: none;
}
section.fond > div.nov > button > a {
  text-decoration: none;
  color: #060A24;
  width: 100%;
  height: 56px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  font-weight: 700;
}
section.fond > div.nov> button:hover {
  cursor: pointer;
}

footer{
    width: 100%;
    position: relative;        
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    font-family: 'IBM Plex Mono',monospace;
    top:380px;
   
}

footer>p{
  position: relative;
  left: 7%;
}

footer>div.fot{
display: inline;
position:relative;
right:7%;
margin:auto 0;
}

footer>div.fot>i{ 
    margin-right: 36px;
}

div.fot>a{
  text-decoration: none;
  color: black;
  margin-right: 36px;
  /* font-size: 18px; */
  
}


@media screen and (max-width:320px){

  header{
    margin:0;
    padding:0;   
    width:100%;
        
  } 
  header > .header_menu > img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;

  }
  header>.header_menu>nav>label{
    display: block;
  }
  h1{
    font-size: 2.25em;   
    font-weight: 500;
   }

  header>div.header_menu>.menu1{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #0000EC;
  
}

.menu ul li:last-child {
  padding: 0 0 20px 0;
}

.menu ul a {
  display: block;
  width: 100%; 
  padding: 20px;  
  text-decoration: none;
}

.menu ul a:hover {
  background-color: #ddd;
}
.header_menu .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
}
  
.header_menu .menu1 {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  /* overflow: scroll; */
}
   
  header > .header-h1{
    position: relative;
    left: 1em;    
    top:15px;
    
  }

  h1>span::after {
    content: '\A'; white-space: pre;
  }

  h1>.punto{
    color: #060A24;
  }
  
  header> .header-h1>p.p2{    
    display: block;
    margin-top:1.2em;
  }

  header> .header-h1>p.p1{    
    display: none;
  }

  .header-h1 > button{
    margin-top:2.25em;
    max-width: 16em;
    width: 100%;   
    
  }

  section.playlist > div.item{     
    display:grid;
    grid-template-columns: 100%;
    margin-top: 19%;      
   
  }
  

  
  section.playlist{
    top:-2em;
  }

  section.playlist > div.play-fond {
   top:2.2em;
   background-image: linear-gradient(225deg, #0000FF, #0000A3);
   clip-path: polygon(0% 6%, 100% 3%, 100% 96%, 0% 100%);
    height: 1280px;
    max-width:320px;
  }

  section.playlist > h2 {
    display: inline;
    top: 4em;     
    margin: 0;
    left:0.47em;
    font-size: 2.13em;

   
  }

  section.playlist > div.item{
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    position: relative;
    top:10em;
    margin:0 auto;
    /* posicion de los iframe */

   
  } 

  div.position-iframe:nth-child(odd) {
    display: grid;
    justify-items: self-end;    
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-bottom: 0.35em; 
      
  }
  
   
  
   div.position-iframe:nth-child(even) {
    display: grid;
    justify-items: self-start;    
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top:0.35em;
    margin-bottom: 0.7em;
    
  } 
  
  section.donde-vi{
    top:11em;
  }
  div.position-iframe:nth-last-child(-n + 1 ) {
    margin-top: 0.35em;
    margin-bottom: 4em;
  }
  section.donde-vi > div.donde-vi-cont {  
    width: 100%;   
    flex-direction: column;
    
    
  }

  div.donde-vi-cont > img {    
    height: auto;
    position: relative;
    bottom: 60px;
    
  }

  div.donde-vid-i {
    position: relative;
    width: 84%;
    margin: 0 auto;
    left:-.5em;
  }
  
  div.donde-vid-i > h2 {
    font-size: 2.13em;
    margin-bottom:0.24em;
    margin:0;
    font-weight:normal;    

  }

  div.donde-vid-i > p, p:last-child {
    width:20.46em;
    font-size: 0.88em;
    line-height: 22px;
    margin-top: 8px;
    
  }  
  section.entrevista {
    width: 100%;
    margin-top: 17em;
    
  }

  section.entrevista> h2 {    
    font-size: 2.25em;
    font-family: 'IBM Plex Sans', sans-serif;    
    color: #060A24;
    letter-spacing: 0;
    font-weight: lighter;
    position: relative;
    left: 0.45em;
    margin: 0;
    bottom: 36px;
    display: block;


  }
  
  section.entrevista> div.galeria-ent{
    margin: 0;
    position: relative;
    bottom: 1em;
    display: flex;
    flex-wrap: wrap;
  }

  section.entrevista> div.galeria-ent> img {
   
    height: 243px;
   

  }

  section.temas {
    width: 100%;
    margin-top: 4.3em;
  }
  
  section.temas > h2 {
  
    font-size: 2.25em;
    font-family: 'IBM Plex Sans', sans-serif;    
    letter-spacing: 0;
    font-weight: lighter;
    position: relative;
    left: 0.45em;
    margin: 0;
    bottom: 36px;
    display: block;
   
  }

  section.temas > div.temas-n {
    margin-top: -5.5em;
  }

 div.temas-n{
   flex-wrap: wrap;    
   
 }

  div.temas-n > div.temas-in{
   margin-bottom:1.5em; 
  
  }
  
  div.temas-n>div.temas-in> img{
    margin-top: 30px;
  }

  div.temas-n > div.temas-in:nth-child(odd){
    display: grid;
    justify-items: self-end;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 3em; 
     

  } 

  div.temas-n > div.temas-in:nth-child(even){

    display: grid;
    justify-items: self-start;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 0.35em;
    margin-bottom: 0.7em;
  }

  div.temas-n > div.temas-in:nth-last-child(-n + 1){
    margin-top: 0.35em;
    margin-bottom: 4em
  }

  
  div.temas-n > div.temas-in > p {
  margin-top:0.8em;
  width: 255px; 
  }
  
 /* novedades */

 section.fond{  
  margin-top:-4.0em;
  /* margin-bottom: 52px; */  
}
 div.fond-i{   
  height: 341px;    
  display: flex; 
  clip-path: polygon(0% 11%, 100% 1%, 100% 100%, 0% 100%);   
 }  
 
 section.fond>div.nov>h2{   
  font-size: 36px; 
  position: relative;
  bottom: 145px;
  text-align: center;
  line-height: 42px;
  width:288px;
  height: 126px;
  left:0.45em;
 
  }

  section.fond>div.nov>button{
    width: 288px;
    height: 48px;
    /* margin-top: 500px; */
    position: relative;
    bottom: 138px;    
    font-size: 1em;
    line-height: 22px;
    font-weight: bold;    
  }

  section.fond>div.nov>button>a{
  height: inherit;

  }


  footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 8em;
    position: relative;
    padding-bottom: 2em;
   
  }
 footer>p{ 
  left: 0;
  font-size: 16px;
  line-height: 28px;
  width: 100%;
  text-align: center;
  margin-bottom: 1.4em;
  } 



footer>div.fot{
  width: 94%;
  position: relative;
  margin: 0 auto;
  padding: 0;
  left: 17px;
  right: 0;
  text-align: center;
  font-size: 1em;
  
}
  
  footer>div.fot>i{ 
    display: inline;
    text-align: center;
    margin: 19px;  
   
  }

  .menu .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  
  .menu .menu-icon .nav-icon {
    background-color: #333333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }

  .menu .menu-icon .nav-icon:before {
    background-color: #333333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: 5px;
  }

  .menu .menu-icon .nav-icon:after {
    background-color: #333333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: -5px;
  }

  .menu .menu-btn {
    display: none;
  }
  
  .menu .menu-btn:checked ~ .menu1 {
    max-height: 240px;
  }
  .menu .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .menu .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

 
  
 

  .menu li {
    float: left;
    width: 100%;
    height: 50px;
    margin-left: -10px;
    
    

  }
  .menu li a {
    padding: 20px 30px;
  }
  .menu > ul > li > a {
    color: white;
  }

}
